@{
    ViewData["Title"] = "Project Cybernetica";
}

<div class="text-center">
    <div class="page-container">
        <div class="page-info-container">
            <div class="game-title-container">
                <h1>Project Cybernetica</h1>
            </div>

            <div class="game-about-section">
                <div class="game-about-properties-grid">
                    <div class="game-about-section-column">
                        <div class="game-role-section">
                            <h4>Role</h4>
                            <p>Programmer</p>
                        </div>
                        <div class="game-year-section">
                            <h4>Year</h4>
                            <p>2022</p>
                        </div>
                    </div>
                    <div class="game-about-section-column">
                        <div class="game-genre-section">
                            <h4>Genre</h4>
                            <p>First Person Shooter</p>
                        </div>
                        <div class="game-platform-section">
                            <h4>Platform</h4>
                            <p>PC</p>
                        </div>
                    </div>
                </div>
                <div class="game-about-section-column">
                    <div class="game-description-section">
                        <h4>Description</h4>
                        <p>
                            Project Cybernetica is a 3D first person shooter created in Unreal Engine 5 in which you are a mercenary in an apocalyptic city called Sariya, 
                            a weapons development city. The city suddenly fell off the grid and lost contact with its people. Your goal is to infiltrate the city and 
                            discover what secrets lie within. The project was created with a small development team for my UCF Game Workshop class.
                        </p>
                    </div>
                </div>
            </div>

            <div class="game-video-section">
                <div class="project-video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pyLSuHHFSkg?si=cx-3gtcWAqjg5Oms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="game-contributions-section">
                <h2>My Contributions</h2>

                <div class="game-contributions-details-section">
                    <div class="game-contributions-details-section-container">
                        <h4>Automated Performance Testing</h4>

                        <div class="game-mechanics-paragraph-container">
                            <p> 
                                To assure that the game performed well even as things were constantly being added, I created an automated 
                                performance testing blueprint. In each level, I created a performance sublevel and placed several cameras 
                                along the player path. I then wrote a blueprint that automatically iterates through every camera, takes 
                                a screenshot of the camera's view, and does a CPU/GPU trace for 2 seconds. This generates a .utrace file for each 
                                screenshot which can be taken into Unreal Insights, Unreal's built in profiler, to see specifically how long it takes 
                                to render each frame and what is causing spikes in performance.<br><br>

                                This was efficient for optimization because I compared and benchmarked the same spots in each level as 
                                things were added so there was no inconsistency in what was being rendered. It also allowed me to quickly figure out 
                                why there was a sudden drop in framerate after a new asset was added or lighting was changed because I could see specifically 
                                what changed in each performance camera and use the profiler to figure out what the cause of the problem was. 
                                This automated performance testing greatly streamlined the optimization process of Project Cybernetica and allowed us to 
                                quickly get on top of any issues that arose.
                            </p>
                        </div>

                        <div class="game-mechanics-images-container">
                            <img class="game-mechanics-image" src="/Assets/Images/ProjectCybernetica/PerformanceTestGif.gif" title="Performance Test Gif" />
                            <img class="game-mechanics-image" src="/Assets/Images/ProjectCybernetica/Unreal Insights Screenshot.PNG" title="Unreal Insights" height="340" width="600"/>
                        </div>
                    </div>

                    <div class="game-contributions-details-section-container">
                        <h4>Invisibility Cloak Mechanic</h4>

                        <div class="game-mechanics-paragraph-container">
                            <p>
                                One of the mechanics that I developed is the invisibility cloak. When activated, a translucent material that I created 
                                is applied to the player and the attached weapon. Upon activating the cloak, the player is undetectable by enemy AI which I developed by using an event 
                                dispatcher that tells all nearby AI that the cloak is active and removes the player from the target actor on the AI blackboard. This effect 
                                is temporary though, as I also added a cooldown timer which is shown in the top left of the screen. The cloak can be used for 10 seconds before 
                                it is automatically deactivated and the player must wait for the cooldown to end before using it again.
                            </p>
                        </div>

                        <div class="game-mechanics-images-container">
                            <img class="game-mechanics-image" src="/Assets/Images/ProjectCybernetica/Cloak gif.gif" title="Invisibility Cloak Gif" />
                            <img class="game-mechanics-image" src="/Assets/Images/ProjectCybernetica/Cloak Material Blueprint.PNG" title="Cloak Material Blueprint" height="340" width="600" />
                        </div>
                    </div>

                    <div class="game-contributions-details-section-container">
                        <h4>Enemy AI Behavior</h4>

                        <div class="game-mechanics-paragraph-container">
                            <p>
                                I was tasked with creating a strafing mechanic for the enemies to move around a bit in an attempt to 
                                dodge the player's gunfire. The blueprint gets a random number, either 0 or 1, which chooses 
                                whether the enemy is going to strafe left or right. It then gets a point at a specified distance in front 
                                of the enemy and a specified distance to the left or right of the enemy (determined by either the 0 or 1), 
                                finds the midpoint between them, and then gives the midpoint to the AI blackboard as the location for the 
                                enemy to move to. The black lines in the gif below show the location that the striker is going to 
                                move and are only in development builds of the game. This way the enemies move with a bit of 
                                unpredictability and don't just stand still.
                            </p>
                        </div>

                        <div class="game-mechanics-images-container">
                            <img class="game-mechanics-image" src="/Assets/Images/ProjectCybernetica/Striker Strafe Gif.gif" title="Enemy Strafe Gif" />
                            <img class="game-mechanics-image" src="/Assets/Images/ProjectCybernetica/Striker Strafe Blueprint.PNG" title="Enemy Strafe Blueprint" height="340" width="600" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

