@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="intro-section" id="intro">
        <div class="intro-section-container">
            <div class="intro-section-nameandbuttons-container">
                <div class="intro-text">
                    <h1 class="intro-name">Hi, my name is <span class="name-gradient">Zach Bray</span></h1>
                    <h3 class="intro-occupation">Full Stack .Net Developer</h3>
                </div>
                <div class="intro-buttons">
                    <ul class="intro-buttons-list">
                        <li class="intro-buttons-listitem">
                            <a class="ScrollToSection-Button" href="#about">ABOUT ME</a>
                        </li>
                        <li class="intro-buttons-listitem">
                            <a class="ScrollToSection-Button" href="#contact"> CONTACT ME</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutme-section" id="about">
        <div class="aboutme-section-details-container">
            <div class="aboutme-section-details">
                <div class="aboutme-bio">
                    <h3 class="aboutme-section-header">ABOUT ME</h3>
                    <p class="aboutme-paragraph">
                        I am a solution oriented .Net Developer, knowledge seeker, and adventurer with a background in tools/game development. 
                        I enjoy software developing because I am curiosity driven and I love the satisfaction of discovering new technologies and overcoming challenges. 
                        I am motivated by the opportunity that software development gives me to create useful tools that make people's lives easier.
                    </p>
                </div>

                <div class="aboutme-skills">
                    <h3 class="aboutme-skills-header">SKILLS</h3>
                    <ul class="aboutme-list">
                        <li class="aboutme-listitem">
                            <img src="Assets/Images/html5-logo.svg" alt="HTML5 Logo" height="75" width="75"/>
                            <p class="skill-label">HTML</p>
                        </li>
                        <li class="aboutme-listitem">
                            <img src="Assets/Images/css3-logo.svg" alt="CSS Logo" height="75" width="75" />
                            <p class="skill-label">CSS</p>
                        </li>
                        <li class="aboutme-listitem">
                            <img src="Assets/Images/dot-net-logo.svg" alt=".Net Logo" height="75" width="75" />
                            <p class="skill-label">ASP.Net / WPF</p>
                        </li>
                        <li class="aboutme-listitem">
                            <img src="Assets/Images/csharp-logo.svg" alt="C# Logo" height="75" width="75" />
                            <p class="skill-label">C#</p>
                        </li>
                        <li class="aboutme-listitem">
                            <img src="Assets/Images/EFCore-logo.png" alt="Entity Framework Logo" height="75" width="75" />
                            <p class="skill-label">Entity Framework</p>
                        </li>
                        <li class="aboutme-listitem">
                            <img src="Assets/Images/sql-logo.svg" alt="SQL Logo" height="75" width="75" />
                            <p class="skill-label">SQL</p>
                        </li>
                        <li class="aboutme-listitem">
                            <img src="Assets/Images/sqlite-logo.svg" alt="SQLite Logo" height="75" width="75" />
                            <p class="skill-label">SQLite</p>
                        </li>
                        <li class="aboutme-listitem">
                            <img src="Assets/Images/firebase-logo.svg" alt="Git Logo" height="75" width="75" />
                            <p class="skill-label">Firebase</p>
                        </li>

                        <li class="aboutme-listitem">
                            <img src="Assets/Images/azure-logo.svg" alt="Git Logo" height="75" width="75" />
                            <p class="skill-label">Microsoft Azure</p>
                        </li>
                        <li class="aboutme-listitem">
                            <img src="Assets/Images/git-logo.svg" alt="Git Logo" height="75" width="75" />
                            <p class="skill-label">Git</p>
                        </li>
                    </ul>
                    <a class="resume-button" href="Assets/MyInfo/Resume.pdf" target="_blank">RESUME</a>
                </div>
            </div>
        </div>

    </div>

    <div class="projects-section" id="projects">
        <div class="projects-section-container">
            <div class="projects-section-header-container">
                <h3 class="projects-section-header">PROJECTS</h3>
            </div>
            <ul class="projects-list">
                <li class="projects-list-listitem">
                    <div class="project-container">
                        <div class="project-details-container">
                            <h3 class="project-title">MyAnimeVault</h3>
                            <p class="project-techstack">C# | ASP.Net Core MVC | RESTful API | Entity Framework | Azure SQL Database | Firebase</p>
                            <p class="project-description">
                                An interactive website that leverages the MyAnimeList API and allows users to explore, rate, and track their favorite anime series. The platform
                                enables registered users to curate anime lists and manage their watch progress, providing a seamless interface to organize and enjoy their anime
                                journey.
                            </p>
                            <div class="project-buttons-container">
                                <a class="github-button" href="https://github.com/zachbray9/MyAnimeVault" target="_blank">Source Code</a>
                                <a class="github-button" href="https://myanimevault.azurewebsites.net/" target="_blank">Live Site</a>
                            </div>
                        </div>
                        <div class="project-video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/h0K6NPegxOg?si=F7stu8Mnr5ymJDW2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </li>
                <li class="projects-list-listitem">
                    <div class="project-container">
                        <div class="project-details-container">
                            <h3 class="project-title">Bug Tracker</h3>
                            <p class="project-techstack">C# | WPF | Entity Framework | SQLite | .Net 6</p>
                            <p class="project-description">An intuitive bug/task tracking tool that allows development teams to create tickets for issues, 
                                assign them, track their status, and collaborate with other team members.</p>
                            <div class="project-buttons-container">
                                <a class="github-button" href="https://github.com/zachbray9/Bug-Tracker" target="_blank">Source Code</a>
                                <a class="github-button" href="https://github.com/zachbray9/Bug-Tracker/releases/tag/Bug-Tracker%2Fv1.0.11" target="_blank">Download</a>
                            </div>
                        </div>
                        <div class="project-video-container">
                            <iframe class="project-video" width="560" height="315" src="https://www.youtube.com/embed/lik-fo5KJ7E?si=cbiUGOBZv0tmPo7B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </li>
                <li class="projects-list-listitem">
                    <div class="project-container">
                        <div class="project-details-container">
                            <h3 class="project-title">Zork Builder</h3>
                            <p class="project-techstack">C# | WPF | JSON | .Net 5</p>
                            <p class="project-description">
                                A tool for creating and editing worlds for custom Zork game in JSON. Abstracts the complexity of JSON file editing, 
                                making customizing worlds accessible for users without JSON expertise.
                            </p>
                            <div class="project-buttons-container">
                                <a class="github-button" href="https://github.com/zachbray9/Zork" target="_blank">Source Code</a>
                                <a class="github-button" href="https://github.com/zachbray9/Zork/releases/tag/Zork%2Fv1.0.4" target="_blank">Download</a>
                            </div>
                        </div>
                        <div class="project-video-container">
                            <iframe class="project-video" width="560" height="315" src="https://www.youtube.com/embed/Ch8GRsp8748?si=0ePnG67_h6oToBaZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </li>
                <li class="projects-list-listitem">
                    <div class="project-container">
                        <div class="project-details-container">
                            <h3 class="project-title">Valorant API Leaderboard Tracker</h3>
                            <p class="project-techstack">C# | Windows Forms</p>
                            <p class="project-description">
                                A tool that accesses the Riot Games API, retrieves the Valorant Ranked endpoint, 
                                and displays the top 200 players with their information in the user's chosen region.
                            </p>
                            <div class="project-buttons-container">
                                <a class="github-button" href="https://github.com/zachbray9/ValorantApiProject" target="_blank">Source Code</a>
                                @* <a class="github-button" href="" target="_blank">Download</a> *@
                            </div>
                        </div>
                        <div class="project-video-container">
                            @* <iframe width="560" height="315" src="https://www.youtube.com/embed/Ch8GRsp8748?si=0ePnG67_h6oToBaZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> *@
                        </div>
                    </div>
                </li> 
            </ul>
        </div>
    </div>

    <div class="contact-section" id="contact">
        <div class="contact-section-container">
            <h3 class="contact-section-header">CONTACT</h3>
            <p class="contact-section-description">Want to get connected?</p>
            <form class="contact-form-container" action="https://formsubmit.co/da860cb97063bac44a2d13d7f3a1ff10" method="post">
                @* Honeypot *@
                <input type="text" name="_honey" style="display: none;"/>

                @* Disable Captcha *@
                <input type="hidden" name="_captcha" value="false"/>

                <div class="contact-form-nameandemail-container">
                    <input class="contact-form-input" type="text" name="Name" placeholder="Name" required/>
                    <input class="contact-form-input" type="email" name="Email" placeholder="Email Address" required/>
                </div>
                <textarea class="contact-form-message" name="Message" placeholder="Message" rows="8" required></textarea>
                <button class="resume-button" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>
