@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="intro-section" id="intro">
        <div class="intro-section-container">
            <div class="intro-section-nameandbuttons-container">
                <div class="intro-text">
                    <h1 class="intro-name">Hi, my name is <span class="name-gradient">Zach Bray</span></h1>
                    <h3 class="intro-occupation">Full Stack .Net Developer</h3>
                </div>
                <div class="intro-buttons">
                    <ul class="intro-buttons-list">
                        <li class="intro-buttons-listitem">
                            <a class="ScrollToSection-Button" href="#about">ABOUT ME</a>
                        </li>
                        <li class="intro-buttons-listitem">
                            <a class="ScrollToSection-Button" href="#contact"> CONTACT ME</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="aboutme-section" id="about">
        <div class="aboutme-section-details-container">
            <div class="aboutme-section-details">
                <div class="aboutme-bio">
                    <h4 class="aboutme-section-header">ABOUT ME</h4>
                    <p class="aboutme-paragraph">
                        I am a Full Stack .Net Developer with a background in tools/game development. I attended the University of Central Florida where I majored in Digital Media
                        with a minor in Computer Science.<br><br>
                        During my time at UCF, I worked on several small game development teams where I collaborated with artists, designers, and other programmers to help design and develop game mechanics. During 
                        this time, I built a foundation for programming and learned about the software development lifecycle and how to work on development teams.<br><br> After exploring a few
                        different possible career routes, I ended up taking a tools development class where I was introduced to Windows Forms and built an app that
                        accessed the Riot Games API and displayed the top 200 ranked Valorant players. It sounds simple, but I was fascinated and the technology instantly resonated with me.
                        From that point on I devoted my free time to learning more about software development and I went on to build several desktop and web apps. Feel free to look at them in the 
                        projects section!
                    </p>
                </div>

                <div class="aboutme-skills">
                    <h4 class="aboutme-skills-header">SKILLS</h4>
                    <ul class="aboutme-list">
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-html5-plain colored techIcon"></i>
                                <p class="skill-label">HTML</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-css3-plain colored techIcon"></i>
                                <p class="skill-label">CSS</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-react-original colored techIcon"></i>
                                <p class="skill-label">React.js</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-typescript-plain colored techIcon"></i>
                                <p class="skill-label">Typescript</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-mobx-plain colored techIcon"></i>
                                <p class="skill-label">MobX</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <img src="Assets/Images/ChakraUiLogo.png" alt="Entity Framework Logo" class="skill-logo-img" />
                                <p class="skill-label">Chakra UI</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-csharp-plain colored techIcon"></i>
                                <p class="skill-label">C#</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-dotnetcore-plain colored techIcon"></i>
                                <p class="skill-label">.Net Core</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-dotnetcore-plain colored techIcon"></i>
                                <p class="skill-label">WPF</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-microsoftsqlserver-plain techIcon"></i>
                                <p class="skill-label">Microsoft SQL Server</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <img src="Assets/Images/EFCore-logo.png" alt="Entity Framework Logo" class="skill-logo-img" />
                                <p class="skill-label">Entity Framework</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-firebase-plain colored techIcon"></i>
                                <p class="skill-label">Firebase</p>
                            </div>
                        </li>

                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-azure-plain colored techIcon"></i>
                                <p class="skill-label">Microsoft Azure</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-git-plain colored techIcon"></i>
                                <p class="skill-label">Git</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-unity-plain techIcon"></i>
                                <p class="skill-label">Unity</p>
                            </div>
                        </li>
                        <li class="aboutme-listitem">
                            <div class="skill-tag">
                                <i class="devicon-unrealengine-original techIcon"></i>
                                <p class="skill-label">Unreal Engine</p>
                            </div>
                        </li>
                    </ul>
                    <a class="ScrollToSection-Button" href="Assets/MyInfo/ZacharyBray-Resume-2024.pdf" target="_blank">RESUME</a>
                </div>
            </div>
        </div>

    </section>

    <section class="projects-section" id="projects">
        <div class="projects-section-container">
            <div class="projects-section-header-container">
                <h4 class="projects-section-header">PROJECTS</h4>
            </div>
            <ul class="projects-list">
                <li class="projects-list-listitem">
                    <h5 class="project-title">AgilePro</h5>
                    <div class="project-container">
                        <div class="project-details-container">
                            <div class="project-techstack-container">
                                <div class="skill-tag">
                                    <i class="devicon-react-original colored techIcon"></i>
                                    <p>React.js</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-typescript-plain colored techIcon"></i>
                                    <p>Typescript</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-mobx-plain colored techIcon"></i>
                                    <p>MobX</p>
                                </div>
                                <div class="skill-tag">
                                    <img src="Assets/Images/ChakraUiLogo.png" alt="Entity Framework Logo" class="skill-logo-img" />
                                    <p>Chakra UI</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-csharp-plain colored techIcon"></i>
                                    <p>C#</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-dotnetcore-plain colored techIcon"></i>
                                    <p>.Net 6</p>
                                </div>
                                <div class="skill-tag">
                                    <img src="Assets/Images/EFCore-logo.png" alt="Entity Framework Logo" class="skill-logo-img" />
                                    <p>Entity Framework</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-microsoftsqlserver-plain techIcon"></i>
                                    <p>Microsoft SQL Server</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-azure-plain colored techIcon"></i>
                                    <p>Microsoft Azure</p>
                                </div>
                            </div>
                            <p class="project-description">
                                An intuitive Project Management web app made using React, Typescript, MobX, Chakra UI, and .Net 6 that allows development teams to collaboratively
                                manage projects. Users can create and assign tickets, keep track of ticket status, and chat in real time making the
                                development process streamlined and organized.
                            </p>
                            <div class="project-buttons-container">
                                <a class="ScrollToSection-Button" href="https://github.com/zachbray9/Bug-Tracker" target="_blank">Source Code</a>
                                <a class="ScrollToSection-Button" href="https://agilepro.azurewebsites.net" target="_blank">Live Site</a>
                            </div>
                        </div>
                        <div class="project-video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/nnRKnhd6yys?si=_XO-Rt2EqL39Tl98" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </li>

                <li class="projects-list-listitem">
                    <h5 class="project-title">MyAnimeVault</h5>
                    <div class="project-container">
                        <div class="project-details-container">
                            <div class="project-techstack-container">
                                <div class="skill-tag">
                                    <i class="devicon-csharp-plain colored techIcon"></i>
                                    <p>C#</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-dotnetcore-plain colored techIcon"></i>
                                    <p>ASP.Net Core MVC</p>
                                </div>
                                <div class="skill-tag">
                                    <img src="Assets/Images/EFCore-logo.png" alt="Entity Framework Logo" class="skill-logo-img" />
                                    <p>Entity Framework</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-microsoftsqlserver-plain techIcon"></i>
                                    <p>Microsoft SQL Server</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-firebase-plain colored techIcon"></i>
                                    <p>Firebase</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-azure-plain colored techIcon"></i>
                                    <p>Microsoft Azure</p>
                                </div>
                            </div>
                            <p class="project-description">
                                An interactive website that leverages the MyAnimeList API and allows users to explore, rate, and track their favorite anime series. The platform
                                enables registered users to curate anime lists and manage their watch progress, providing a seamless interface to organize and enjoy their anime
                                journey.
                            </p>
                            <div class="project-buttons-container">
                                <a class="ScrollToSection-Button" href="https://github.com/zachbray9/MyAnimeVault" target="_blank">Source Code</a>
                                <a class="ScrollToSection-Button" href="https://myanimevault.azurewebsites.net/" target="_blank">Live Site</a>
                            </div>
                        </div>
                        <div class="project-video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/h0K6NPegxOg?si=F7stu8Mnr5ymJDW2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </li>
                
                <li class="projects-list-listitem">
                    <h5 class="project-title">Project Cybernetica</h5>
                    <div class="project-container">
                        <div class="project-details-container">
                            <div class="project-techstack-container">
                                <div class="skill-tag">
                                    <i class="devicon-unrealengine-original techIcon"></i>
                                    <p>Unreal Engine</p>
                                </div>
                            </div>
                            <p class="project-description">
                                Project Cybernetica is a 3D first person shooter created in Unreal Engine 5 in which you are a mercenary in an apocalyptic city called Sariya, 
                                a weapons development city. The city suddenly fell off the grid and lost contact with its people. Your goal is to infiltrate the city and 
                                discover what secrets lie within.  The project was made with a small development team for my UCF Game Workshop class.
                            </p>
                            <div class="project-buttons-container">
                                <a class="ScrollToSection-Button" asp-area="" asp-controller="ProjectCybernetica" asp-action="Index">Learn More</a>
                            </div>
                        </div>
                        <div class="project-video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/pyLSuHHFSkg?si=Dz2O3NymEKSXgK-e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </li>

                <li class="projects-list-listitem">
                    <h5 class="project-title">The Gravity of Silence</h5>
                    <div class="project-container">
                        <div class="project-details-container">
                            <div class="project-techstack-container">
                                <div class="skill-tag">
                                    <i class="devicon-csharp-plain colored techIcon"></i>
                                    <p>C#</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-unity-plain techIcon"></i>
                                    <p>Unity</p>
                                </div>
                            </div>
                            <p class="project-description">
                                A third person puzzle solving game where the user must utilize their gravity altering abilities to complete levels and regain control of their 
                                space ship from its rogue AI. This project was made with a small development team for my UCF Game Production class.
                            </p>
                            <div class="project-buttons-container">
                                <a class="ScrollToSection-Button" asp-area="" asp-controller="GravityOfSilence" asp-action="Index">Learn More</a>
                            </div>
                        </div>
                        <div class="project-video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/gGB6lE-0YYg?si=DV06gfB9jq82576X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </li>

                <li class="projects-list-listitem">
                    <h5 class="project-title">Zork Builder</h5>
                    <div class="project-container">
                        <div class="project-details-container">
                            <div class="project-techstack-container">
                                <div class="skill-tag">
                                    <i class="devicon-csharp-plain colored techIcon"></i>
                                    <p>C#</p>
                                </div>
                                <div class="skill-tag">
                                    <i class="devicon-dotnetcore-plain colored techIcon"></i>
                                    <p>WPF</p>
                                </div>
                            </div>
                            <p class="project-description">
                                A tool for creating and editing worlds for custom Zork game in JSON. Abstracts the complexity of JSON file editing, 
                                making customizing worlds accessible for users without JSON expertise.
                            </p>
                            <div class="project-buttons-container">
                                <a class="ScrollToSection-Button" href="https://github.com/zachbray9/Zork" target="_blank">Source Code</a>
                                <a class="ScrollToSection-Button" href="https://github.com/zachbray9/Zork/releases/tag/Zork%2Fv1.0.4" target="_blank">Download</a>
                            </div>
                        </div>
                        <div class="project-video-container">
                            <iframe class="project-video" width="560" height="315" src="https://www.youtube.com/embed/Ch8GRsp8748?si=0ePnG67_h6oToBaZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="contact-section" id="contact">
        <div class="contact-section-container">
            <h3 class="contact-section-header">CONTACT</h3>
            <p class="contact-section-description">Want to get connected?</p>
            <form class="contact-form-container" action="https://formsubmit.co/da860cb97063bac44a2d13d7f3a1ff10" method="post">
                @* Honeypot *@
                <input type="text" name="_honey" style="display: none;"/>

                @* Disable Captcha *@
                <input type="hidden" name="_captcha" value="false"/>

                <div class="contact-form-nameandemail-container">
                    <input class="contact-form-input" type="text" name="Name" placeholder="Name" required/>
                    <input class="contact-form-input" type="email" name="Email" placeholder="Email Address" required/>
                </div>
                <textarea class="contact-form-message" name="Message" placeholder="Message" rows="8" required></textarea>
                <button class="ScrollToSection-Button" type="submit">SUBMIT</button>
            </form>
        </div>
    </section>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Select all links with the class navbar-buttons-listitem-content
        var links = document.querySelectorAll('.navbar ul li a');

        // Add click event listener to each link
        links.forEach(function (link) {
            link.addEventListener('click', function (e) {
                // Get the target section ID from the link's href attribute
                var targetId = this.getAttribute('href').substring(1);

                // Check if the target section is on the same page
                var targetSection = document.getElementById(targetId);
                if (targetSection) {
                    e.preventDefault(); // Prevent default navigation

                    // Scroll to the target section
                    targetSection.scrollIntoView({
                        behavior: 'smooth'
                    });
                }

            });
        });
    });



</script>
