@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="intro-section" id="intro">
        <div class="intro-section-details">
            <div class="intro-text">
                <h1 class="intro-name">Zach Bray</h1>
                <h3 class="intro-occupation">Full Stack .Net Developer</h3>
            </div>
            <div class="intro-buttons">
                <ul class="intro-buttons-list">
                    <li class="intro-buttons-listitem">
                        <button class="ScrollToSection-Button" href="#about">ABOUT ME</button>
                    </li>
                    <li class="intro-buttons-listitem">
                        <button class="ScrollToSection-Button" href="#contact"> CONTACT ME</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="skills-section">
        <div class="skills-section-details">
            <h3 class="skills-section-header">SKILLS</h3>
            <p class="skills-section-paragraph"></p>
            <button class="resume-button">RESUME</button>
        </div>

    </div>
</div>
