@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="intro-section" id="intro">
        <div class="intro-section-details">
            <div class="intro-text">
                <h1 class="intro-name">Zach Bray</h1>
                <h3 class="intro-occupation">Full Stack .Net Developer</h3>
            </div>
            <div class="intro-buttons">
                <ul class="intro-buttons-list">
                    <li class="intro-buttons-listitem">
                        <button class="ScrollToSection-Button" href="#about">ABOUT ME</button>
                    </li>
                    <li class="intro-buttons-listitem">
                        <button class="ScrollToSection-Button" href="#contact"> CONTACT ME</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="aboutme-section">
        <div class="aboutme-section-details-container">
            <h3 class="aboutme-section-header">ABOUT ME</h3>
            <div class="aboutme-section-details">
                <p class="aboutme-paragraph">
                    I am a solution oriented .Net Developer, knowledge seeker, and adventurer with a background in tools/game development. 
                    I enjoy software developing because I am curiosity driven and I love the satisfaction of discovering new technologies and overcoming challenges. 
                    I am motivated by the opportunity that software development gives me to create useful tools that make people's lives easier.
                </p>
                <ul class="aboutme-list">
                    <li class="aboutme-listitem">
                        <img src="" alt="bruh"/>
                    </li>
                    <li class="aboutme-listitem">
                        <img />
                    </li>
                    <li class="aboutme-listitem">
                        <img />
                    </li>
                    <li class="aboutme-listitem">
                        <img />
                    </li>
                    <li class="aboutme-listitem">
                        <img />
                    </li>
                    <li class="aboutme-listitem">
                        <img />
                    </li>
                    <li class="aboutme-listitem">
                        <img />
                    </li>
                </ul>
            </div>
            <button class="resume-button">RESUME</button>
        </div>

    </div>
</div>
