<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - @ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Portfolio_Website.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="navbar-brand-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Z.B.</a>
            </div>
            <div class="navbar-buttons-list-container">
                <ul class="navbar-buttons-list">
                    <li class="navbar-buttons-listitem">
                        <a class="navbar-buttons-listitem-content" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                    </li>
                    <li class="navbar-buttons-listitem">
                        <a class="navbar-buttons-listitem-content" asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Portfolio_Website - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
