* {
    font-family: Inter, Poppins, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: white;
}

:root {
    --darkmode1: #18191a;
    --darkmode2: #242526;
    --accentblue: #0094ff;
}

body {
    background-color: var(--darkmode1);
}

/*Body Styles*/

h1 {
    font-size: 70px;
    font-weight: normal;
}


h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

a {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    p {
        font-size: 12px;
    }
}

ul {
    list-style: none;
}

li {
    list-style: none;
}


input {
    padding: 10px;
}

textarea {
    padding: 10px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }
}

/*Navbar styles*/

.header {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 550px;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    padding: 20px 40px;
    margin: 0px 10px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: 0.5s all ease;
}

.navbar-filled {
    background-color: rgba(114, 114, 114, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #404040b5;
    box-shadow: 0 2px 10px #0000001a;
}

.navbar ul {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.navbar ul li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 2;
}

.navbar ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s;
}

.navbar ul li a:hover {
    color: var(--accentblue);
}

.nav-slider {
    position: absolute;
    height: 75%;
    width: 0px;
    border-radius: 30px;
    background-color: var(--darkmode2);
    transition: all .3s cubic-bezier(.34, 1.56, .64, 1);
}

@media (max-width: 768px)
{
    .navbar ul {
        gap: 30px;
    }

    .navbar ul li a {
        font-size: 12px;
    }
}

/*Intro Section*/

.intro-section {
    height: calc(98vh - 100px);
}

.intro-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 10vh;
    margin: 0px 40px;
}

@media screen and (max-width: 800px) {
    .intro-section-container {
        flex-direction: column;
    }
}

.intro-section-nameandbuttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
}

.intro-name {
    font-weight: 700;
    /*font-family: Poppins, Helvetica, sans-serif;*/
}

.name-gradient {
    color: var(--accentblue);
}

.intro-buttons-list {
    list-style: none;
    display: flex;
    column-gap: 10px;
    padding: 0px;
    margin: 30px 0px;
}

.ScrollToSection-Button {
    font-weight: bold; 
    background-color: #232323;
    color: #fff;
    box-sizing: border-box;
    padding: 10px 40px;
    border: 1px solid #333333;
    cursor: pointer;
    transition: background 1s, border-radius 1s;
}

@media (max-width: 768px) {
    .ScrollToSection-Button {
        font-size: 14px;
        padding: 7px 20px;
    }
}

.ScrollToSection-Button:hover {
    background: linear-gradient(to bottom right, var(--accentblue) 30%, #ffffff 100%);
    border-radius: 50px;
}

/*About Me Section*/

.aboutme-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme-section-details-container {
    max-width: 1200px;
    margin: 0px 40px;
    box-sizing: border-box;
    padding-top: 100px;
}

.aboutme-section-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin-bottom: 100px;
}

.aboutme-paragraph {
    color: #ffffff;
}

.aboutme-skills {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.aboutme-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.aboutme-listitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    gap: 10px;
}

.skill-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
    border-radius: 2px;
    border: 1px solid #333333;
    background-color: #232323;
    box-shadow: 0 2px 3px #0000003d;
}

.techIcon {
    font-size: 32px;
    color: white;
}

.skill-logo-img{
    height: 32px;
    width: 32px;
}

@media (max-width: 768px)
{
    .techIcon {
        font-size: 16px;
    }

    .skill-logo-img{
        height: 18px;
        width: 18px;
    }
}

.skill-label {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

@media (max-width: 768px)
{
    .skill-label {
        font-size: 12px;
    }
}

.resume-button {
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
    box-sizing: border-box;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.resume-button:hover {
    background: #c3073f;
    border-radius: 50px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .resume-button {
        font-size: 14px;
        padding: 7px 20px;
    }
}

/*Projects Section*/

.projects-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0px 40px;
    padding: 100px 0px;
    gap: 20px;
    box-sizing: border-box;
}

.projects-section-header-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.projects-section-header {
    font-weight: bold;
}

.github-button {
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px 40px;
    border: none;
    transition: all 1s;
}

.github-button:hover{
    background: linear-gradient(to bottom right, #0094ff 30%, #ffffff 100%);
    border-radius: 50px;
}

@media (max-width: 768px) {
    .github-button {
        font-size: 14px;
        padding: 7px 20px;
    }
}

.projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 200px;
}

.projects-list-listitem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

@media screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
}

.project-details-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 40px;
}

.project-techstack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items:start;
    gap: 10px;
}

.project-buttons-container {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.project-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%
}

.project-video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.project-video-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/*Contact Section*/

.contact-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 40px 20px;
    margin-top: 25vh;
}

.contact-section-description {
    color: var(--accentblue);
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    row-gap: 20px;
}

.contact-form-nameandemail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    width: 100%;
}

.contact-form-input {
    background-color: #121212;
    color: #ffffff;
    border: none;
    outline: none;
    width: 100%;
}

.contact-form-message {
    background-color: #121212;
    color: #ffffff;
    border: none;
    outline: none;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px)
{
    
    .contact-form-nameandemail-container {
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }
}

/*Gravity of Silence Page*/
.page-container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 15vh 40px 40px 40px;
}

.page-info-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 1600px;
    gap: 80px;
}

.game-title-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.game-about-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
}

.game-about-properties-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: start;
    column-gap: 200px;
    row-gap: 40px;
}

@media (max-width: 768px)
{
    .game-about-properties-grid {
        gap: 80px;
    }
}

.game-about-section-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.game-video-section {
    display: flex;
    justify-content: start;
    align-items: start;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

.game-contributions-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 80px;
}

.game-contributions-details-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 80px;
}

.game-contributions-details-section-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.game-mechanics-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

@media (max-width: 768px)
{
    .game-mechanics-image {
        width: 300px;
        height: 175px;
    }
}

/*footer*/

.footer {
    background-color: #121212;
    padding: 20px 0px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    background-color: #181818;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    transition: all 0.5s;
}

.social-icon {
    font-size: 30px;
    color: white;
}

@media (max-width: 768px)
{
    .social-icon {
        font-size: 22px;
    }
}

.social-link:hover {
    background-color: var(--accentblue);
}